
@import url(https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap);

$break-small: 719px;
$base-size: 16px;
$sans-serif-font: Inter;
$serif-font: PT Serif;
$logo-font: 'Bungee Inline', cursive;
$font-darker: #1E1C21;
$font-lighter: #909A94;
$background-color: #FDF5E6;
$white-color: #FDFAFF;
$highlight-color: #e65d07;
$spacing-unit: 12px;

body {
  font-family: $serif-font;
  line-height: normal;
  background-color: $background-color;
  font-size: $base-size;

  h2, h3, h4, h5, h6 {
    font-family: $serif-font;
    color: $font-darker;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  p {
    margin-bottom: 1rem;
  }

  a {
    color:$highlight-color;

    &:hover, &:active {
      color: #8953b7;
    }
  }

  header {
    background-color: $white-color;
    // padding: $spacing-unit 0;
    margin-bottom: 2 * $spacing-unit;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .logo {
        font-family: $logo-font;

        h1 {
          font-size: 22px;
        }
      }

      .twitter-share {
        font-size: 28px;
      }
    }
  }

  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 40px;

    p {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }

    iframe {
      width: 100%;
    }

    img {
      margin-top: 61px;
      max-width: 65%;
    }

    @media screen and (max-width: $break-small) {
      padding-top: 1px;
      padding-bottom: 50px;

      h1, h2 {
        padding-top: 0;
      }

      img {
        max-width: 80%;
      }
    }
  }

  .questions form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;

    div {
      color: $font-lighter;
      font-size: smaller;
    }

    label {
      display: block;
      line-height: 2rem;
      color: $font-darker;
      font-size: $base-size;

      &:last-child {
        margin-bottom: $spacing-unit;
      }

      div {
        margin-left: 5px;
        display: inline-block;

        span {
          color: $highlight-color;
        }
      }

      input {
        display: inline-block;
        background-color: inherit;
        border: none;
        color: $highlight-color;
        font-family: $sans-serif-font;
        font-size: $base-size;

        // &::-webkit-input-placeholder {
        //   text-decoration: underline dotted black;
        // }
        // &::-moz-input-placeholder {
        //   text-decoration: underline dotted black;
        // }      
        &:focus {
          outline: none
        }
      }
    }

    div:nth-child(2){
      display: flex;
      place-items: center;

      button {
        // TODO: why do I need this if place-items is set?
        margin: 0 auto;
        width: 150px;
        height: 60px;
        background-color: $highlight-color;
        color: white;
        border-radius: 5px;
        font-size: $base-size;
      }
    }
  }

  .results {

    .chart {
      width: 80%;
      margin: 0 auto;
    }

    > div:nth-child(2) {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .slidecontainer {
      width: 100%; /* Width of the outside container */
    }
    
    /* The slider itself */
    .slider {
      -webkit-appearance: none;  /* Override default CSS styles */
      appearance: none;
      width: 100%; /* Full-width */
      height: 25px; /* Specified height */
      background: #d3d3d3; /* Grey background */
      outline: none; /* Remove outline */
      opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
      -webkit-transition: .2s; /* 0.2 seconds transition on hover */
      transition: opacity .2s;
    }

    /* Mouse-over effects */
    .slider:hover {
      opacity: 1; /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #4CAF50; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #4CAF50; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
  }

  footer {
    padding: 120px 0 45px;

    @media screen and (max-width: $break-small) {
      padding: 50px 0 45px;
    }

    .widget__item {
      @media screen and (max-width: $break-small) {
        padding: 15px 0 0;
      }

      .about {
        margin-top: 26px;
      }

      .about {
        font-size: 14px;
        line-height: 23px;
      }

      .links {
        h4 {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          font-family: Inter;
          line-height: 0;
        }

        ul {
          margin: 15px 0 0 0;

          li {
            line-height: 26px;

            a {
              font-size: 14px;
              color: #797283;

              &:hover, &:active {
                color: #8953b7;
              }
            }
          }
        }

        .links__special {
          background-color: #8953b7;
          color: #ffffff;
          border-radius: 4px;
          padding: 2px 5px;

          &:hover {
            color: #ffffff;
          }
        }
      }

      .social {
        text-align: right;

        @media screen and (max-width: $break-small) {
          text-align: center;
        }

        a {
          margin-left: 20px;

          img {
            filter: contrast(0);
            transition: 0.15s;
          }

          &:hover img {
            filter: contrast(1);
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .copyright {
      text-align: center;
      margin-top: 90px;

      @media screen and (max-width: $break-small) {
        margin-top: 31px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}