$break-small: 719px;
$base-size: 16px;

body {
  font-family: Inter;
  line-height: normal;
  background-color: #FDF5E6;
  font-size: $base-size;

  h1, h2, h3, h4, h5, h6 {
    font-family: PT Serif;
    line-height: 43px;
    color: #1E1C21;
  }

  a {
    color: #8953B7;

    &:hover, &:active {
      color: #8953b7;
    }
  }

  header {
    background-color: #FDFAFF;
    // padding: 20px 0;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .logo {
        img {
          width: 60px;
          height: 60px;
        }
      }

      a {
        font-size: 200%;
      }
    }
  }

  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 40px;

    iframe {
      width: 100%;
    }

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      color: #1E1C21;
      padding: 0 0 15px 0;
      line-height: 54px;
    }

    h2 {
      font-size: 36px;
      font-style: normal;
      font-weight: bold;
      color: #1E1C21;
      line-height: 54px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 34px;
    }

    img {
      margin-top: 61px;
      max-width: 65%;
    }

    @media screen and (max-width: $break-small) {
      padding-top: 1px;
      padding-bottom: 50px;

      h1, h2 {
        padding-top: 0;
      }

      img {
        max-width: 80%;
      }
    }
  }

  .questions form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;

    label {
      display: block;
      line-height: 2rem;

      input {
        display: inline-block;
        background-color: inherit;
        border: none;

        &::-webkit-input-placeholder {
          // border-bottom: 1px solid rgba(251,175,93,1);
          text-decoration: underline dotted black;
        }
        &::-moz-input-placeholder {
          text-decoration: underline dotted black;
        }      
        &:focus {
          outline: none
        }
      }
    }

    div:nth-child(2){
      display: flex;
      place-items: center;

      button {
        display: block;
        width: 150px;
        height: 60px;
      }
    }
  }

  .results {

    .chart {
      width: 80%;
      margin: 0 auto;
    }

    div:nth-child(2) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  footer {
    padding: 120px 0 45px;

    @media screen and (max-width: $break-small) {
      padding: 50px 0 45px;
    }

    .widget__item {
      @media screen and (max-width: $break-small) {
        padding: 15px 0 0;
      }

      .about {
        margin-top: 26px;
      }

      .about {
        font-size: 14px;
        line-height: 23px;
      }

      .links {
        h4 {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          font-family: Inter;
          line-height: 0;
        }

        ul {
          margin: 15px 0 0 0;

          li {
            line-height: 26px;

            a {
              font-size: 14px;
              color: #797283;

              &:hover, &:active {
                color: #8953b7;
              }
            }
          }
        }

        .links__special {
          background-color: #8953b7;
          color: #ffffff;
          border-radius: 4px;
          padding: 2px 5px;

          &:hover {
            color: #ffffff;
          }
        }
      }

      .social {
        text-align: right;

        @media screen and (max-width: $break-small) {
          text-align: center;
        }

        a {
          margin-left: 20px;

          img {
            filter: contrast(0);
            transition: 0.15s;
          }

          &:hover img {
            filter: contrast(1);
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .copyright {
      text-align: center;
      margin-top: 90px;

      @media screen and (max-width: $break-small) {
        margin-top: 31px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}