$break-small: 719px;
$base-size: 16px;
$sans-serif-font: 'Lato', sans-serif;
$serif-font: 'Lora', serif;
$logo-font: 'Bungee Inline', cursive;
$font-darker: #1E1C21;
$font-lighter: #76817a;
$background-color: #FDF5E6;
$white-color: #FDFAFF;
$brand-color: #e65d07;
$highlight-color: #0790e6;
$spacing-unit: 12px;

// brands
$nutmeg: #2fb153;
$vanguard: #96151d;
$freetrade: #f7618b;
$hl: #071d49;
$finimize: #00b2ff;
$mywallst: #3fb981;