$break-small: 719px;
$base-size: 16px;
$sans-serif-font: Inter;
$serif-font: PT Serif;
$logo-font: 'Bungee Inline', cursive;
$font-darker: #1E1C21;
$font-lighter: #909A94;
$background-color: #FDF5E6;
$white-color: #FDFAFF;
$highlight-color: #e65d07;
$spacing-unit: 12px;